A {
	color: #82FF3A;
	text-decoration: none;
}

A:hover {
	color: #6BD12F;
	text-decoration: none;
}

body {
	background-color: #0f5e93;
	color: yellow;
	padding-top: 1em;
	padding-left: 17em;
	padding-right: 2em;
}

ul.navbar {
	position: absolute;
	top: 5em;
	left: 0em;
	width: 15em;
}